﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h2>SixLetterWordExercise</h2>
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Inputs</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var input in Model.Inputs)
                    {
                        <tr>
                            <td>@input</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Parts</td>
                        <td>Result</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@string.Join(" + ", result.Parts)</td>
                            <td>@result.Result</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
